@using IGrad.Models.User;
@model List<EmergencyContact>

<div class="container">
        @foreach (EmergencyContact contact in Model)
        {
            <div class="row col-md-3" style="background-color:blue; border:solid 1px black">
                <p>@(contact.Name == null ? "Default FName" : contact.Name.FName) </p>
                <p>@(contact.Name == null ? "Default LName" : contact.Name.LName)</p>
                <p>@(contact.Relationship == null ? "Relationship" : contact.Relationship)</p>
               </div>
        }
</div>


