@model IGrad.Models.User.Violation

@if (Model != null)
{
    <table id="highschool-info-table" class="table table-responsive">
        <tr>
            <th>Suspended</th>
            <th>Weapon</th>
            <th>Date</th>
            <th>| Edit</th>
        </tr>
        <tr id="violation_@Model.fieldId">
            <td>@Model.isSuspendedOrExpelled</td>
            <td>@Model.hadWeaponViolation</td>
            <td>@Model.dateOfWeaponViolation.ToShortDateString()</td>
            <td></td>
            <td><input type="submit" value="Delete" onclick="deleteViolation(@Model.fieldId)"></td>
        </tr>
    </table>
}

