@model IGrad.Models.OpenHouse.OpenHouse
@{
    ViewBag.Title = "Final Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $('.progress').hide();
</script>
@if (Model.Announcements != null)
{
    if (!string.IsNullOrEmpty(Model.Announcements) || !string.IsNullOrWhiteSpace(Model.Announcements))
    {
        <div class="row">
            <div class="col-md-12" id="Open-House-Days">
                <div class="alert alert-info" role="alert">
                    <strong>Announcement(s):</strong> @Html.Raw(Model.Announcements)
                </div>
            </div>
        </div>
    }
}
<hr />
<div class="row">
    <h3>Congratulations! You have completed your application.</h3>
</div>
<div class="row">
    <div class="col-md-12" id="Open-House-Days">
        <h3>Open House Days:</h3>
        @Html.Raw(Model.OpenDays)
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12" id="Open-House-Days">
        <h3>What you need to bring:</h3>
        @Html.Raw(Model.WhatToBring)
    </div>
</div>
<hr />

<!-- download PDF -->
<div class="row" id="showDownload">
    <div class="col-md-12">
        <h4 class="danger btn-danger">WARNING: This button will download all of your personal information on the forms to the computer you're on.</h4>
        <h4 class="danger btn-danger">Please do not download these files to a public machine.</h4>
        <br />
        <input type="checkbox" id="myCheck" onclick="clickedcheckbox(this)"> I acknowlege that I want to download these pdf's and am not downloading to a public computer (machine).
        <br />
        <hr />
        <button class="btn btn-lg  btn-success" id="downloadBttn">
            @Html.ActionLink("Download Complete Forms To My Computer", "GetFilledPDF", "Application")
        </button>
    </div>
</div>

<script>
    $("#downloadBttn").hide();


    function clickedcheckbox(cb)
    {
        if (cb.checked)
        {
            $("#downloadBttn").show();
        }
        else
        {
            $("#downloadBttn").hide();
        }
    }
</script>
