@model IGrad.Models.User.UserModel
@{
    ViewBag.Title = "GetHealthForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("/Scripts/application.js")
@Styles.Render("/Content/healthform.css")

<script type="text/javascript">
    function loadMedicalInfoForm() {
        hideTarget('add-health-button');
        showTarget('add-health');
        $("#add-health").load('@Url.Action("GetAddHealthInfo", "Application")');
    }

</script>

<h2>Health Information</h2>
<div class="container">
    <button class="btn btn-lg btn-primary" id="add-health-button" onclick="loadMedicalInfoForm()"> + Add Medical Conditions</button>
    <div class="container-fluid" id="add-health">

    </div>
</div>



