
@{
    ViewBag.Title = "GetHouseholdForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetHouseholdForm</h2>

<div class="row col-md-4 form-group">
    <button class="btn btn-lg btn-success">
        @Html.ActionLink("Continue To Health", "GetHealthForm", "Application")
    </button>
</div>