
@{
    ViewBag.Title = "GetNewApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Application</h2>


<div class="container">
    <img src=@Url.Content("~/media/images/newappplaceholder.png")>
</div>
