@model IGrad.Models.User.UserModel
@{
    ViewBag.Title = "GetOtherInfoForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Generate PDFs</h3>
<hr>
<div class="row form-group">
    <button class="btn btn-lg  btn-success" type="submit">
        @Html.ActionLink("Generate PDF", "getFilledPDF", "Application")
    </button>
</div>