@model IGrad.Models.User.UserModel
@{
    ViewBag.Title = "GetOtherInfoForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Generate PDFs</h3>
<hr>
<div class="row form-group">
    <span class="btn btn-lg  btn-success">
        @Html.ActionLink("Generate PDF", "GetFilledPDF", "Application")
    </span>
</div>