@model IGrad.Models.User.UserModel
@{
    ViewBag.Title = "GetOtherInfoForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/application.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).on('click', '#showOptionalAssistance', function () {
        showTarget('optional-assistance-form');
        showTarget('hideOptionalAssistance');
        hideTarget('showOptionalAssistance');
    });

    $(document).on('click', '#cancel-optional-assistance', function () {
        hideTarget('optional-assistance-form');
        hideTarget('hideOptionalAssistance');
        showTarget('showOptionalAssistance');
    });
    
    $(document).on('click', '#hideOptionalAssistance', function () {
        hideTarget('optional-assistance-form');
        hideTarget('hideOptionalAssistance');
        showTarget('showOptionalAssistance');
    });

    function showOptionalAssistanceButton() {
        hideTarget('optional-assistance-form');
        hideTarget('hideOptionalAssistance');
        showTarget('showOptionalAssistance');
    }

    $(document).on('click', '#showParentPlan', function () {
        showTarget('parenting-plan-form');
        showTarget('hideParentPlan');
        hideTarget('showParentPlan');
    });

    $(document).on('click', '#hideParentPlan', function () {
        hideTarget('parenting-plan-form');
        hideTarget('hideParentPlan');
        showTarget('showParentPlan');
    });

    $(document).on('click', '#cancel-parent-plan', function () {
        hideTarget('parenting-plan-form');
        hideTarget('hideParentPlan');
        showTarget('showParentPlan');
    });

    function showParentingPlanButton() {
        hideTarget('parenting-plan-form');
        hideTarget('hideParentPlan');
        showTarget('showParentPlan');
    }


</script>
<h2>
    Finishing Up!
    <span class="completed-form-title pull-right hidden">Completed <i class="fas fa-check"></i></span>
</h2>
<hr>

<div class="row">
    <div class="col-md-12" id="optional-assistance-container">
        <h3 class="bg-info">(Optional) Additional iGrad Assistance</h3>
        <input type="button" value="I would like to take advantage of additional assistance" class="btn btn-default" id="showOptionalAssistance" />
        <input type="button" value="Hide" class="btn btn-default hidden" id="hideOptionalAssistance" />
        <div class="container hidden" id="optional-assistance-form">
            @Html.Action("GetOptionalAssistanceForm", Model)
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12" id="parenting-plan-container">
        <h3 class="bg-info">(Optional) Student's Parenting Plan</h3>
        <input type="button" value="I have a parenting plan in effect" class="btn btn-default" id="showParentPlan" onclick="showTarget('parenting-plan-form')" />
        <input type="button" value="Hide" class="btn btn-default hidden" id="hideParentPlan" onclick="hideTarget('parenting-plan-form')" />
        <div class="container hidden" id="parenting-plan-form">
            @Html.Action("GetParentPlanForm", Model)
        </div>
    </div>
</div>


<hr />

<div class="row">
    <div class="col-md-12">
        <br />
        <button class="btn btn-lg  btn-success">
            @Html.ActionLink("Finish", "FinalPage", "Application")
        </button>
    </div>
</div>
