@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Application Start</h2>
<p>Start the application process here</p>

<button class="btn-primary">Start a new application</button>
<button class="btn-primary">Continue an existing Application</button>


