body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* #region Application/GetNewApplication */
.homepage{
    color :dimgray;
    height:100%;
    width: 100%;
}

a .card {
    height: 500px;
    background-color: whitesmoke;
    text-align: center;
    justify-content:center;
    background-image: url("../media/images/penpaper.png");
}

div .card{
    margin: 20px;
    border: 5px solid black;
}

.new-application:hover{
    border-color: white;
    opacity: 0.5;
}

.existing-application:hover {
    opacity: 0.5;
    border-color: deepskyblue;
}

.existing-application h1{
    opacity: 1;
}

.nav-app{
    padding: 5px;
    margin-top: 5px;
    border-right:solid gray 1px;
    border-bottom:groove gray 1px;
    border-left: solid gray 1px;
    border-top:solid gray 1px;
    margin-right:10px;
    background-color:white;
}

.selected-nav{
    border-bottom: solid red 10px;
}

.nav-pane{
    margin-top:20px;
    margin-bottom: 15px;
}

.card-register {
  max-width: 25rem;
  position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.race-checkbox{
    padding:5px;
}

.btn-submit{
    background-color: green;
    color: white;
    width: 150px;
    float:right;
    margin-top: 15px;
}

/*#endregion*/

