@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Contact Information<br />
    Fake Stuff<br />
    <abbr title="Phone">P:</abbr>
    222.222.2223
</address>

