
@{
    ViewBag.Title = "iGrad Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center">
    <h1>Welcome to IGrad</h1>
    <h2>Your new future begins now.</h2>
</div>

<div class="container homepage">

    <div class="row col-md-5">
        <a href=@Url.Action("GetNewApplication", "Application")>
            <div class="row new-application card text-center">
                <h1>Start <br /> A New  <br /> Application!</h1>
            </div>
        </a>
    </div>

    <div class="row col-md-5 col-md-offset-2">
        <a href=@Url.Action("Controller","Route")>
            <div class="row existing-application card text-center">
                <h1>Continue <br /> Existing <br /> Application!</h1>
            </div>
        </a>
    </div>
</div>



